
<app-divider>
    Placholder Component
</app-divider> 
<app-placeholder [header]="true" [lines]="3"></app-placeholder>
<app-divider>
    Segment Component
</app-divider> 
<app-segment>
    <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>
    <div class="ui primary button">Add Document</div>
    <div iconheader class="ui icon header">
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </div>

    <div class="icon-header">
        <div iconheader class="ui icon header">
            <i class="add icon"></i>
            Another exmaple by class in ng-content
        </div>
    </div>
</app-segment>