<div class="field">
    <label class="label">
        {{label}}
    </label>
    <div class="control">
        <input mask="(000) 000-0000" class="input" [formControl]="control" 
        [ngClass]="{'is-danger': showErrors() }"
        />
    </div>
    
    <ng-container *ngIf="showErrors()">
        <div class="help is-danger" *ngIf="control.errors != null && control.errors['required']">
            value is required
        </div>
        <div class="help is-danger" *ngIf="control.errors != null && control.errors['minlength']">
            value must be longer {{ control.errors['minlength'].actualLength }} 
            characters long, but it must be at least 
            {{ control.errors['minlength'].requiredLength }}
        </div>
        <div class="help is-danger" *ngIf="control.errors != null &&  control.errors['maxlength']">
            value you entered is {{control.errors['maxlength'].actualLength}} characters long, but it cannot be longer than {{control.errors['maxlength'].requiredLength}}
        </div>
        <div class="help isDirty" *ngIf="control.errors != null &&  control.errors['pattern']">
            Invalid Formate
        </div>
    </ng-container>
</div>
