<div class="container">
  <form (ngSubmit)="OnSubmit()" #emailForm="ngForm">
    <div class="field">
      <label class="label">Enter Email</label>
      <input 
      class="input"
      required 
      name="email" 
      [(ngModel)]="email" 
      type="email"
      pattern=".+@.+\..+"
      #emailControl="ngModel"
      [ngClass]="{'is-danger': emailControl.invalid && emailControl.touched}"
      />
      <ng-container *ngIf="emailControl.errors !=null && emailControl.invalid && emailControl.touched">
          <div class="help is-danger" *ngIf="emailControl.errors['required']">
            You must enter an email
          </div>
          <div class="help is-danger" *ngIf="emailControl.errors['pattern']">
            You must enter an valid email
          </div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailControl.invalid">
    Submit
    </button>
    </form>
    <!-- <div>Is form valid : {{ emailForm.valid }}</div>
      <div>Form values: {{ emailForm.value | json }}</div>
      <div>Email validation errors: {{ emailForm.controls['email'].errors | json }}</div> -->
</div>