<div (click)="OnclickTOClose()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="close icon"></i>
        MODAL!
        <div class="header">
            <ng-content select="[modalTitle]"></ng-content>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="actions actions-default">
            <button (click)="OnclickTOClose()" class="ui button">OK</button>
        </div>
        <div class="actions">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
    </div>
</div>
<!-- $('.ui.basic.modal')
  .modal('show')
;

<div class="ui basic modal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      Archive Old Messages
    </div>
    <div class="content">
      <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div> -->